body {
    font-family: "Open Sans", sans-serif;
    background: #2e8bc0;
}

h1 {
    font-size: 24px;
    font-weight: 700;
    color: #0c2d48;
}

h2 {
    font-size: 18px;
    font-weight: 700;
    color: #145da0;
}

